<footer class="footer">
    <div class ="content">
    <div class="row">
    <div class="column">
        <h4>Company</h4>
            <ul>
            <li><a href="#">Faq</a></li> 
            <li><a href="#">Shipping</a></li>    
            <li><a href="#">returns</a></li>    
            <li><a href="#">order status</a></li>    
            <li><a href="#">options</a></li>
            </ul>    
    </div>
    <!--  -->
    <div class="column">
        <h4>Get help</h4>
        <ul>   
            <li><a href="#">about us</a></li>
            <li><a href="#">Our services</a></li>    
            <li><a href="#">Policy</a></li>    
            <li><a href="#">Programs</a></li>
        </ul>    
        </div>
    
        <div class="column">
            <h4> online shop</h4>
            <ul>
        <li><a href="#">watch</a></li> 
        <li><a href="#">bags</a></li>    
        <li><a href="#">shoes</a></li>    
        <li><a href="#">dress</a></li>         
            </ul>    
            </div>
    
            <div class="column">
                <h4> Follow us</h4>
                <div class="sociallinks">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>    
            </div>
    
    </div>    
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</footer> 